#aboutsection {  
    color:black;
}

#aboutsection .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media (max-width: 996px) {
    #aboutsection .row {
      margin-top: 80px;
    }

    #aboutsection h1 {
      font-size: 2em;
    }

    #aboutsection h2{
      font-size: 2em;
    }

  }
